/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video, button {
		margin: 0;
		padding: 0;
		border: 0;
}



/* Hide desktop and tablet, display mobile */
.desk-tab {
	display: none;
}

.mobile-nav {
	display: block;
}

/* General style rules */

* {
	box-sizing: border-box;
}

body {
	background-color: #851717;
}

img {
	max-width: 100%;
	display: block;
}

/* Text styles */

p, h1, h2, #words, #alert {
	color: #DF6A0F;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.8em;
	padding: 0.5%;
}

h1, legend {
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

h2 {
	font-size: 2.4em;
	text-align: center;
	padding: 0.2%;
}

#main-text {
	padding: 2%;
	margin: 1%;
}

#info {
	background-color: #FFFBDF;
	padding: 0.5% 1%;
	margin: 2% 0;
	text-align: center;
}

#info-desc {
	font-size: 1.5em;
}

/* Form Rules */

#form {
	margin-top: 2%;
	background-image: linear-gradient(to bottom right, #FFED94, #FEFFD4);
	padding: 1%;
	color: #DF6A0F;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
}

#form h1 {
	text-align: center;
	font-size: 2.5em;
}

fieldset, select {
	margin-bottom: 1%;
	background-color: #FFFBDF;
}

textarea, input {
	margin-bottom: 1%;
	background-color: #fff;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
		display: block;
		padding-top: 1%;
}

#submit {
	margin: 1% auto;
	border: none;
	display: block;
	padding: 1.5% 2%;
	background-color: #851717;
	color: #F8EA7D;
	font-size: 1.5em;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-radius: 10px;
}

#main-text, main {
	background-image: linear-gradient(to bottom right, #FFED94, #FEFFD4);
	overflow: auto;
}

	.fig-text {
		border: none;
		color: #DF6A0F;
		text-align: center;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		font-size: 3em;
	}
	
	#container {
		background-color: #851717;
	}
	
	.stat-bullet {
		color: #fff;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.5em;
		padding: 0.5%;
		margin-bottom: 5%;
		list-style-type: none;
	}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/* Hide mobile, display desktop and tablet */
	.desk-tab {
		display: block;
	}

	.mobile-nav {
		display: none;
	}

	
/* Nav rules */
	nav {
		padding: 3% 0;
		margin: 0;
		width: 100%;
	}
	
	nav ul {
		list-style-type: none;
		text-align: center;
	}
	
	nav li {
		font-size: 3.2em;
		display: inline-block;
		position: relative;
	}
	
	ul li ul.dropdown li {
		display: block;
	}
	
	ul li ul.dropdown {
		width: 100%;
		position: absolute;
		z-index: 999;
		display: none;
		background-color: #BA2121;
	}
	
	ul li ul.dropdown a {
		font-size: .2em;
	}
	
		ul li:hover ul.dropdown {
			display: block;
		}
	
	nav li:hover {
		background-color: #BA2121;
	}
	
	nav li a {
		text-decoration: none;
		display: block;
		padding: 0.1em 0.5em;
		color: #FBF180;
	}
	
	nav li a:hover {
		color: #FEB54A;

	}
	
	#paw-1 {
		float: left;
		width: 50px;
		margin: 3% 0;
		margin-left: 25%;
		transition: width 0.5s;
	}
	
	#paw-2 {
		float: right;
		width: 50px;
		margin: 3% 0;
		margin-right: 25%;
		transition: width 0.5s;
	}
	
	#paw-1:hover {
		width: 60px;
	}
	
	#paw-2:hover {
		width: 60px;
	}
	
	.grid-main {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 1%;
	}
	
/*Contestant Page */
	
	.contestant-profile {
		border: 4px solid #FFB535;
		margin: 1%;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		width: 300px;
		transition: width 0.5s;
	}
	.contestant-profile:hover {
		width: 320px;
	}
	
	.contestant-img {
		border: 4px solid #FFB535;
		margin: 1%;
		display: block;
		height: auto;
		max-width: 90%;
	}
	
	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
		background-color: #FF944D;
		margin: 1% 0 2%;
	}
	
	.surprise:hover {
		background-color: #DE5D1F;
		width: 350px;
		height: 100px;
	}
	
	.stat {
		color: #fff;
	}
	
	.stat-p {
		color: #fff;
		font-size: 2em;
	}
	
	.stat-h2 {
		color: #fff;
		background-color: #FF944D;
	}
	
	article:nth-of-type(2) {
		background-color: #DE5D1F;
	}
	
	.frame-img {
		width: 450px;
		border: 6px solid #FAE67B;
		transition: width 0.5s;
	}
	
	.frame-img:hover {
		width: 470px;
	}
	
	.form-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 10px;
		margin: 0 2%;
	}
	
	#alert {
		text-align: center;
		display: block;
		margin: 2% auto;
		background-color: darkred;
		color: white;
		height: 400px;
		width: 850px;
		padding: 2%;
	}
	
	#close {
		color: white;
		text-decoration: none;
		background-color: red;
		padding: .5% 1%;
	}
	
	#popup {
		font-size: .9em;
		text-align: center;
		background-color: #DE5D1F;
		width: 200px;
		height: 50px;
		display: none;
		margin: auto;
	}
	
	#clickpop {
		font-size: .9em;
		background-color: #DE5D1F;
		width: 500px;
		height: 50px;
		display: block;
		margin: auto;
	}
	
	#popup p {
		color: white;
}

	#clickpop p {
		color: white;
	}
	
	.accordion {
		padding: 5px 0 20px 0;
		text-align: left;
		list-style: none;
	}
	
	.acc-control {
		background-color: #DE5D1F;
		color: #fff;
		cursor: pointer;
		padding: 10px;
		font-size: 1.5em;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		font-style: normal;
		width: 100%;
		transition: 0.5s;
	}
	
	.active, .acc-control:hover {
		background-color: #FF944D;
	}
	
	.acc-panel {
		display: none;
		padding: 20px;
		overflow: hidden;
		background-color: #FF944D;
		font-size: 1.5em;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		color: #b34803;
	}
	
	/* Gallery */
	
	.row {
		margin: 10px -16px;
	}
	
	.row,
	.row > .column {
		padding: 5px;
	}
	
	.column {
		float: left;
		width: 33.33%;
		display: none;
	}
	
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.show {
		display: block;
	}
	
	#buttons {
		display: block;
		margin: auto;
		padding: 2%;
	}
	
	.cont {
		padding: 5px;
	}
	
	.cont img {
		border: 3px solid white;
	}
	
	.btn {
		border: none;
		border-radius: 10%;
		outline: none;
		padding: 2%;
		background-color: #FF944D;
		color: #fff;
		cursor: pointer;
		font-size: 1.5em;
		font-family: "Oswald", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	
	.btn:hover {
		background-color: #DE5D1F;
	}
		
	.btn.active {
		background-color: #BA2121;
		color: #fff;
	}
		
/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
	
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
	
	#container {
			width: 1920px;
			margin: 0 auto;
	}

	table {
			width: 80%;
	}
}

/* Media Query for Print */
@media print {
	
}